node_modules
implementierung

*/**/yarn.lock
/.yarn

# Profiling
packages/admin/server/profiling

# HL7 publisher
playground/profiling/input-cache
playground/profiling/temp
playground/profiling/output
playground/profiling/template

# Downloaded files
publisher.jar

# Logs
*.log

# Temp directories
.temp
.tmp
.cache
tmp
.env
export

# Generated dirs
dist
fsh-generated
.nuxt
.nuxt-*
.vercel
.netlify
.output
.output-*
.gen

# OSX
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

fixtures-temp
.pnpm-store
eslint-typegen.d.ts
.eslintcache